# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
# Test binary
*.test
# Output of the go coverage tool
*.out
.idea/
.vscode/
### Mac OS ###
.DS_Store

### Local Docs (Do not commit) ###
/docs/
